#full-screen-btn {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  opacity: 0.75;
}
#full-screen-btn:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  opacity: 1;
  border-color: transparent !important;
}
#visualize-product-btn:hover {
  color: rgb(22, 115, 255) !important;
  background-color: var(--bs-btn-hover-bg);
  border-color: rgb(22, 115, 255) !important;
}
button.btn-close {
  margin: 0 !important;
}
.active-users,
.active-products {
  color: rgb(22, 115, 255) !important;
}
